<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/fav.svg">
  <title>Register</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="bg-gradient-to-r from-[#84d2f6] to-[#edf6f9] text-gray-900 font-mono">
  <header class="bg-[#0466C8] text-white px-2 py-2.5 shadow-xl static">
    <div class="container mx-auto">
        <h1 class="text-xl font-bold mb-1">CodeExchange</h1>
      <nav>
        <a href="/" class="sm:mr-1 md:mr-3 text-md text-white transition-all ease duration-300 transform font-bold">
          <span class="px-1 py-0.5 rounded-md transition-all ease duration-300 transform hover:bg-white hover:text-[#0466C8] active:bg-[#5C677D] border border-white">Home</span>
        </a>
        <a href="/login" class="sm:mr-1 md:mr-3 text-md text-white transition-all ease duration-300 transform font-bold">
          <span class="px-1 py-0.5 rounded-md transition-all ease duration-300 transform hover:bg-white hover:text-[#0466C8] active:bg-[#5C677D] border border-white">Login</span>
        </a>
      </nav>
    </div>
  </header>
  
  <main class="container mx-auto mt-5 roundex-xl py-4 px-2">
    <div class="form-container">
      <h1 class="form-title">Register</h1>
      <form action="/api/auth/register" method="POST">
        <div class="form-field">
          <label for="username" class="text-[#023E7D]">Username</label>
          <input type="text" name="username" id="username" placeholder="Enter your username" required class="border-[#5C677D]">
        </div>
        <div class="form-field">
          <label for="email" class="text-[#023E7D]">Email</label>
          <input type="email" name="email" id="email" placeholder="Enter your email" required class="border-[#5C677D]">
        </div>
        <div class="form-field">
          <label for="password" class="text-[#023E7D]">Password</label>
          <input type="password" name="password" id="password" placeholder="Enter your password" required class="border-[#5C677D]">
        </div>
        <div class="mb-4">
          <button type="submit" class="form-button transition-all duration-300 transform">Register</button>
        </div>
      </form>
      <p class="text-center text-md mt-4 text-[#001233]">
        Already have an account? <a href="/login" class="text-[#0466C8] hover:text-[#0353A4] font-bold">Login</a>
      </p>
    </div>
  </main>
  <footer class="bg-[#0466C8] mt-4 p-1 text-center bottom-0 fixed left-0 right-0 w-screen shadow-lg">
    <p class="text-white">&copy 2024 CodeExchange. All rights reserved. Created by Saksham</p>
  </footer>
</body>
</html>

