::-webkit-scrollbar {
  display: none;
}

.card1 {
  background: rgba(251, 248, 227, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-blend-mode: hard-light;
}

.card {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-container {
  max-width: 550px;
  margin: auto;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-title {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(222, 104, 0);
  font-weight: bold;
}
.form-field {
  margin-bottom: 15px;
}
.form-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}
.form-field input {
  width: 100%;
  padding: 5px;
  border: 1px solid #da926e;
  border-radius: 10px;
  color: #472b1d;
}
.form-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #e6540b;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form-button:hover {
  background-color: #983402;
}
.form-button:active {
  background-color: #471904;
}
